@media only screen and (max-width: 1024px) {
    header {
    width: 100%;
  
    }

    header nav{
        width: 90%;
    }

    #filtering-container{
    width: 98%;
    }

    .my_container_slider{
        width:90%;
    }

    .swiper-button-prev,
     .swiper-container-rtl .swiper-button-next{
         left: 96%;
     }

     .line{
         width: 93%;
     }

     .about-section{
         width: 100%;
     }
     
     footer{
         width: 100%;
     }

     .adv-section{
        width: 100%;
    }
    .navbar-foot{
       width: 42%;
  }

}

  @media only screen and (max-width: 768px) {
    header {
        width: 100%;
    }

    .menu-container ul{
        display: none;
    }

    .burger i {
        display: block;
    }

    .text-box{
        width: 50%;
    }

    .text-box h1{
        font-size: 27px;
    }

     .about-section{
        width: 100%;
    }


    .women-product .line{
        width: 87%
    }

    .form-container{
        width: 27%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .checkbox-container{
      margin-top: 20px;
       width: 27%;
    }
    
    .my_container_slider{
        width: 75%;
    
    }


    .container-product{
    width: 100%; 
 }

 .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
      right: 0;
  }


 .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next{
      left: 92%;
  }

  fieldset{
      width: 86%;
  }
  
  .bottom-left{
      font-size: 12px;
  }

  .adv-section{
      width: 100%;
  }

  footer{
      width: 100%;
  }

  .about-footer{
      width: 30%;
  }

  .footer-navigation {
      width: 40%;
  }

  .footer-navigation ul{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 35px 10px;
  }
  .navbar-foot{
      padding: 20px 20px;
  }
.footer-navigation ul li {
    padding: 10px 10px;
}

.copy{
    padding-left: 88px;
}

}


@media only screen and (max-width: 425px) {
  
header{
    width: 100%;
}
    
    .text-box{
        width: 80%;
    }

 
    #filtering-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }


    .btn{
        margin-top: 10%;
        margin-left: 20%;
    }

    .line{
        width: 90%;
    }

    .women-product .line{
        width: 77%;
    }

   
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev{
        display: none;
    }

    .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next{
      display: none;
  }


  .my_container_slider{
      width: 100%;
  }
 
  .bottom-right{
      font-size: 14px;
  }

  .color-bl , .color-yelow ,
   .color-gry{
       width: 19px;
       height: 19px;
   }

   .top-left{
       display: none;
   }

   .bottom-left{
       font-size: 10px;
   }

    .bottom-right{
        position: absolute;
        bottom: 334px;
        right: 69px;
     }

     .adv-section{
         width: 100%;
         text-align: center;
     }

     .about-footer{
         width: 51%;
     }

     footer{
         width: 100%;
     }

     .copy{
         display: none;
     }
    
}